body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom right,#ec7f57, #C3C1BF);
}

#container{
    margin-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#guess{
}

#submit{
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(52, 62, 207);
    color: white;
    padding: 8px 5px 5px 5px;
    width: 100px;
    font-weight: bolder;
}

#submit:hover{
    background-color: burlywood;
}

#guess{
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    border-style: none;
    outline: none;
    font-weight: bolder;
    font-size: 16px;
}

img{
    width: 15%;
}
